{% extends 'base.html.twig' %}

{% block title %} Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand">C'est quoi qu'on mange ?</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://galek.spyzone.fr/" target="_blank">Votez</a>
                    </li>
                    <li class="nav-item">
                        <form action="" method="post">
                            <input type="hidden" name="refresh" value="refreshed">
                            <button value="refresh" class="btn btn-default" type="submit">Refresh</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> dernière mise à jour : {{ lastGlobalUpdate }}</a>
                    </li>

                    {#<li class="nav-item">#}
                      {#<a class="nav-link" href="contact.html">Contact</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ asset('build/assets/img/tasteofparis.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>C'est quoi qu'on mange aujourd'hui ?</h1>
                        <span class="subheading">Les plats du jour autour de Netapsys ce {{ weekDay }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for restaurant in restaurants %}
                <hr>

                <div class="post-preview">
                    <a href="{{ restaurant.url }}" target="_blank">
                        <h2 class="post-title">
                        </h2>
                        <h3 class="post-subtitle">
                        {% if restaurant.name != "Papa Ciccio" %}


                        <h2 class="post-title">
                            {{ restaurant.name }} - {{ restaurant.price }}
                        </h2>
                        <h3 class="post-subtitle">{{ restaurant.todayspecial }}
                            {% if restaurant.vegantodayspecial %}
                                {% set stringLength = restaurant.vegantodayspecial | length %}
                                {% if stringLength >= 4 %}
                                    <br>{{ restaurant.vegantodayspecial }}
                                {% endif %}

                            {% endif %}
                            {#Except div for Papa Ciccio#}
                            {% else %}
                                <span>Les pâtes :</span><p>Farfale, Fusilli, Penne, Spaghetti</p><br/><br/>
                                <span>Les sauces :</span>
                                <p>3 fromages<br/>
                                    Arrabiatta<br/>
                                    Aurora<br/>
                                    Bolognaise<br/>
                                    Carbonara Thon / Boeuf / Lardons / Pesto Verde<br/>
                                    Champignon crème<br/>
                                    Olive (sauce tomate)<br/>
                                    Pesto Verde / Rosso<br/>
                                    Piccantina<br/>
                                    Poulet Curry / Oignon / Poivre / Moutarde<br/>
                                    Poulet Méditerranéene (don't ask) / Champignons noirs<br/>
                                    Saumon crème</p><br/><br/>
                                <span>Les fromages :</span><p> emmental, parmigiano</p><br/><br/>

                                03 88 83 20 08
                                </p>
                            {% endif %}
                        </h3>


                    </a>
                    <p class="post-meta">Cuisiné par
                        <a href="#">Hungry bot</a>
                        ce {{ weekDay }} à {{ restaurant.lastUpdate|date("g", "Europe/Paris") }}h{{ restaurant.lastUpdate|date("i", "Europe/Paris") }}
                        <a href="{{ restaurant.mappy }}" target="_blank">
                    <span class="fa-stack fa-lg color:#1E90FF">
                      <i class="fa fa-circle fa-stack-1x"></i>
                      <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </p>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <!-- <hr> -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">

                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                    <i class="sr-only"></i>
                  </span>
                            </a>
                        </li>

                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Netapsys / Sodifrance / Antéo / On ne sait plus...</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
